<button type="button" class="button-input js-gnzs-settings-token-button">
    <span class="button-input-inner ">
        <span class="button-input-inner__text">{{ buttonText }}</span>
    </span>
</button>