<button type="button" class="button-input button-input_blue gnzs-widget__pay-button">
    <span class="button-input-inner ">
        <span class="button-input-inner__text">Оплатить</span>
    </span>
</button>