.gnzs-widget__pay-button{
    float: right;
}

.gnzs-widget__active-till-text{
    float: right;
    font-size: 13px;
    color: #a2a2a2;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: underline;
    cursor: pointer;
}